<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.church.hmpg.bbs.mappers.BbsDataMapper">

    <resultMap id="bbsDataVo" type="com.church.hmpg.bbs.vo.BbsDataVo"/>

    <sql id="selectSearchWhere">

    </sql>

    <!--  페이지 목록 -->
    <select id="selectList" resultMap="bbsDataVo">

        SELECT  data_sid
               ,board_sid /* 게시판 일련번호 */
               ,board_id
               ,user_id
               ,user_pw
               ,user_nick
               ,user_email
               ,data_title
               ,data_notice
               ,data_secret
               ,del_status
               ,view_count
               ,modify_date
               ,register_date
               ,category_code1 /* 카테고리1차 */
               ,category_code2 /* 카테고리2차 */
               ,category_code3 /* 카테고리3차 */
        FROM   LR_COMTNBBSDATA
        WHERE  board_sid = #{boardSid}
        AND    IFNULL(DEL_STATUS,'N') = 'N'
        <include refid="selectSearchWhere"/>

        ORDER  BY data_sid DESC
        <![CDATA[ LIMIT  #{firstIndex}, #{recordCountPerPage}]]>
    </select>

    <!--  전체 행 수 -->
    <select id="selectTotalCount" resultType="int">
        SELECT COUNT(data_sid)
        FROM   LR_COMTNBBSDATA
        WHERE  board_sid = #{boardSid}
        AND    IFNULL(DEL_STATUS,'N') = 'N'
        <include refid="selectSearchWhere"/>
    </select>

    <!--  보기 -->
    <select id="select" resultType="bbsDataVo">
        SELECT   data_sid
                ,board_sid         /* 게시판 일련번호 */
                ,board_id
                ,user_id
                ,user_pw
                ,user_nick
                ,user_email
                ,data_title
                ,data_notice
                ,data_secret
                ,del_status
                ,view_count
                ,modify_date
                ,register_date
                ,category_code1    /* 카테고리1차 */
                ,category_code2    /* 카테고리2차 */
                ,category_code3    /* 카테고리3차 */
        FROM    LR_COMTNBBSDATA
        WHERE   board_sid = #{boardSid}
        AND     data_sid  = #{dataSid}
        AND     IFNULL(DEL_STATUS,'N') = 'N'
    </select>

    <!-- 이전 글 조회 -->
    <select id="selectPrevView" resultType="bbsDataVo">
         SELECT  data_sid
                ,board_sid         /* 게시판 일련번호 */
                ,board_id
                ,user_id
                ,user_pw
                ,user_nick
                ,user_email
                ,data_title
                ,data_notice
                ,data_secret
                ,del_status
                ,view_count
                ,modify_date
                ,register_date
                ,category_code1    /* 카테고리1차 */
                ,category_code2    /* 카테고리2차 */
                ,category_code3    /* 카테고리3차 */
        FROM    LR_COMTNBBSDATA
        WHERE   board_sid = #{boardSid}
        <![CDATA[
        AND     data_sid  < #{dataSid}
        ]]>
        AND     IFNULL(DEL_STATUS,'N') = 'N'
        ORDER   BY data_sid DESC
        LIMIT 1
    </select>

    <!-- 다음 글 조회 -->
    <select id="selectNextView" resultType="bbsDataVo">
        SELECT data_sid
              ,board_sid         /* 게시판 일련번호 */
              ,board_id
              ,user_id
              ,user_pw
              ,user_nick
              ,user_email
              ,data_title
              ,data_notice
              ,data_secret
              ,del_status
              ,view_count
              ,modify_date
              ,register_date
              ,category_code1    /* 카테고리1차 */
              ,category_code2    /* 카테고리2차 */
              ,category_code3    /* 카테고리3차 */
        FROM  LR_COMTNBBSDATA
        WHERE board_sid = #{boardSid}
        <![CDATA[
        AND   data_sid  > #{dataSid}
        ]]>
        AND   IFNULL(DEL_STATUS,'N') = 'N'
        ORDER BY data_sid
        LIMIT 1
    </select>

    <!--  입력 -->
    <insert id="insert">
        INSERT INTO LR_COMTNBBSDATA (
         user_id
        ,user_pw
        ,user_nick
        ,user_email
        ,data_title
        ,data_notice
        ,data_secret
        ,modify_date
        ,register_date
        ,category_code1    /* 카테고리1차 */
        ,category_code2    /* 카테고리2차 */
        ,category_code3    /* 카테고리3차 */
        ) VALUES (
        ,#{userId}
        ,#{userPw}
        ,#{userNick}
        ,#{userEmail}
        ,#{dataTitle}
        ,#{dataNotice}
        ,#{dataSecret}
        ,NOW()
        ,NOW()
        ,#{categoryCode1}
        ,#{categoryCode2}
        ,#{categoryCode3}
        )
    </insert>

    <!--  수정 -->
    <update id="update">
        UPDATE  LR_COMTNBBSDATA
        SET      user_id        = #{userId}
                ,user_pw        = #{userPw}
                ,user_nick      = #{userNick}
                ,user_email     = #{userEmail}
                ,data_title     = #{dataTitle}
                ,data_notice    = #{dataNotice}
                ,data_secret    = #{dataSecret}
                ,modify_date    = NOW()
        WHERE   data_sid        = #{dataSid}
    </update>

    <!--  삭제 -->
    <delete id="delete">
        DELETE
        FROM   LR_COMTNBBSDATA
        WHERE  data_sid        = #{dataSid}
    </delete>

    <!-- 조회 수 증가 -->
    <update id="updateViewCount">
        UPDATE  LR_COMTNBBSDATA
        SET     view_count = view_count + 1
        WHERE   DATA_SID   = ${dataSid}
    </update>

</mapper>
