@charset "euc-kr";
@import url("layout.css");
/* @import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');  */


/********** CSS **********/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button {margin:0;padding:0;}
body,div,dl,dt,dd,h1,h2,h3,h4,h5,form,fieldset,p,th,td,input,select,textarea {font-family:'Nanum Gothic', "나눔고딕", nbg, dotum, sans-serif;}
body{font-size:14px; color:#000; line-height:20px;}

img {border:0; vertical-align:top;}
fieldset {border:0; margin:0; padding:0;}
select, input {font-family:'Nanum Gothic', "나눔고딕", nbg, dotum, sans-serif; vertical-align:middle; }
ul, ol {list-style-type : none;}
dt, dd, h1 , h2, h3, h4, h5, h6 {padding:0; margin:0;}
select {padding:5px 0; height:35px;  }
a, a:link, a:visited, a:active {color:#333; text-decoration:none;}
a:hover {text-decoration:none; color:#13659f; font-weight:bold;}
legend {visibility:hidden; height:0; width:0; font-size:0; line-height:0; overflow:hidden; left:-9999px; top:-9999px;}
hr {visibility:hidden; height:0; width:0; font-size:0; line-height:0; overflow:hidden; position:absolute; left:-9999px; top:-9999px;}
caption {overflow:hidden; visibility:hidden; width:0; height:0; font-size:0; line-height:0;}
em, address {font-style:normal;}
button {background:transparent; border:0; font-family:'Nanum Gothic', "나눔고딕", nbg, dotum, sans-serif;  cursor:pointer; padding:0; overflow:visible; vertical-align:top;}
table {border-collapse:collapse; table-layout:fixed; border-spacing:0;}

#skipNav{ position:absolute; top:-9999px;}



/* default style */
.accessibility {position:absolute; left:-1000px; top:0; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; text-indent:-9999px;}
.pointer {cursor:pointer;}
.ovHidden {overflow:hidden;}
.hidden {overflow:hidden; position:absolute; top:-10000px; left:-10000px; width:1px; height:1px;}

/* position */
.relative {position:relative}
.absolute {position:absolute}

/* floating */
.fl {float:left !important;}
.fr {float:right !important;}
.cl {clear:both !important;}

/* align */
.al {text-align:left !important;}
.ac {text-align:center !important;}
.ar {text-align:right !important;}
.aj {text-align:justify;}

.vt {vertical-align:top !important;}
.vm {vertical-align:middle !important;}
.vb {vertical-align:bottom !important;}


/* font weight */
.fwb {font-weight:bold !important;}
.fwn {font-weight:normal !important;}


/* font color */
.fcB{color:#0066cc !important;}
.fcGrayB{color:#464646 !important;}
.fcGray{color:#777 !important;}
.fcGrayN{color:#999 !important;}
.fcRed{color:#ea002c !important;}
.fcOrg{color:#ff7a00 !important;}
.fc666{color:#666 !important;}
.fc000{color:#000 !important;}
.fc333{color:#333 !important;}


table a:hover{ text-decoration:underline;}

.btncenter{ width:100%; text-align:center; margin-bottom:50px;}
.tpx{ margin-top:40px}


/* paging */
.paging{ float:left; width:100%; text-align:center; margin-top:40px;}
.paging strong{ color:#FFFFFF;  background:#0066cc; padding:5px 10px 6px 10px;}
.paging a{padding:0 8px; color:#333333;}
.paging a:hover{color:#0066cc; font-weight:bold; }

.paging a.btn1{padding:0; position:relative; top:7px; }
.paging a.btn2{padding:0 15px 0 5px; position:relative; top:7px;}
.paging a.btn3{padding:0 5px 0 15px; position:relative; top:7px; }
.paging a.btn4{padding:0; position:relative; top:7px;}

/* TOP */

#cmTopScroll {}
.cmTopScroll {}
.cmTopScroll { position:fixed; right:20px; bottom:-65px; width:40px; height:26px; line-height:1.5;  z-index:300; cursor:pointer; font-family:"Arial", "NanumGothicWeb";}
.cmTopScroll .top { display:block; text-align:center; color:#ffffff; background-color:#0066cc; border-radius:3px;}
.cmTopScroll .top img{ display:block; width:17px; height:11px; padding:6px 0 0 10px }

.cmTopScroll .top:hover {background:#333333;}
.cmTopScroll .top.abled { bottom:16px; }
