@charset "euc-kr";

/*** sub common ***/



.family_site{float:right; margin:-15px 0 0 0;  width:146px; height:51px; background:url(../images/main/siteSelect.png) no-repeat; overflow:hidden;}

.family_site select{ width:164px;   float:left;  padding:15px 0 0 9px; margin-top:1px; border:none; background:url(../images/main/siteSelect.png) no-repeat; font-weight:bold; color:#555555; cursor: pointer;   }

.sub{ width:1000px; min-height:800px;  background:url(../images/login/loginBack.png) right no-repeat; background-position:667px 43px;}
.sub01{ width:1000px; min-height:800px;  background:url(../images/sub/sub_Back.png) top right no-repeat; background-position:;}

.pathwrap{/*position:absolute;*/ width:100%; margin:50px 0 0 0 ; display:inline-block;}
.pathwrap a.home{ display:block; width:18px; height:16px; float:left; margin:4px 24px 0 0 ;}
.pathwrap ul li{ float:left; height:35px;}
.pathwrap ul li a, .pathM01 a, .pathM02 a{ padding:0 24px 0 24px;  font-size:18px; background:url(../images/sub/path_arrow.gif) left no-repeat;}

.pathwrap ul li.pathM01 a:hover{ font-weight:bold; color:#13659f;}
.pathwrap ul li.pathM02 a:hover{ font-weight:bold; color:#FFA600;}
.pathwrap ul li.pathM03 a:hover{ font-weight:bold; color:#555555;}

.pathwrap ul li.pathM01 a.on{font-weight:bold; color:#13659f;}
.pathwrap ul li.pathM02 a.on{font-weight:bold; color:#FFA600;}
.pathwrap ul li.pathM03 a.on{ font-weight:bold; color:#555555;}

.pathwrap ul li.pathM01 .subM01{ position:absolute; display:none; width:145px; border:1px solid #F3F3F3; margin:8px 0 0 -10px; padding:5px 0 0 0; box-shadow:1px 4px 5px #CCCCCC; -moz-box-shadow:1px 4px 5px #CCCCCC; -ms-box-shadow:1px 4px 5px #CCCCCC; -o-box-shadow:1px 4px 5px #CCCCCC; -webkit-box-shadow:1px 4px 5px #CCCCCC; border-top:3px solid #13659f; background:#FFFFFF; z-index:50; }
.pathwrap ul li.pathM01 div.arrB{ position:relative; display:none; width:13px; height:8px; background:url(../images/sub/pathArow_b.png) bottom no-repeat; top:-10px; left:33px; padding-top:20px}

.pathwrap ul li.pathM01 .subM01 li{border-bottom:1px dashed #E9E9E9; margin-left:5px;}
.pathwrap ul li.pathM01 .subM01 li:nth-last-child(-n+1){ border-bottom:none;}

.pathwrap ul li.pathM01 .subM01 a{ background:none; display:block; font-size:12px; width:95px;  line-height:35px; margin-left:5px; text-align:left; padding-left:10px}

.pathwrap ul li.pathM02 .subM02{ position:absolute; display:none; width:160px; border:1px solid #F3F3F3; margin:8px 0 0 -10px; padding:5px 0 0 0; box-shadow:1px 4px 5px #CCCCCC; -moz-box-shadow:1px 4px 5px #CCCCCC; -ms-box-shadow:1px 4px 5px #CCCCCC; -o-box-shadow:1px 4px 5px #CCCCCC; -webkit-box-shadow:1px 4px 5px #CCCCCC; border-top:3px solid #ffd400; background:#FFFFFF; z-index:50; }
.pathwrap ul li.pathM02 div.arrY{ position:relative; display:none; width:13px; height:8px; background:url(../images/sub/pathArow_y.png) bottom no-repeat; top:-10px; left:33px; padding-top:20px}

.pathwrap ul li.pathM02 .subM02 li{border-bottom:1px dashed #E9E9E9; margin-left:5px;}
.pathwrap ul li.pathM02 .subM02 li:nth-last-child(-n+1){ border-bottom:none;}

.pathwrap ul li.pathM02 .subM02 a{ background:none; display:block; font-size:12px; width:105px;  line-height:35px; margin-left:5px; text-align:left; padding-left:10px}


.pathwrap ul li.pathM03 .subM03{ position:absolute; display:none; width:145px; border:1px solid #F3F3F3; margin:8px 0 0 -10px; padding:5px 0 0 0; box-shadow:1px 4px 5px #CCCCCC; -moz-box-shadow:1px 4px 5px #CCCCCC; -ms-box-shadow:1px 4px 5px #CCCCCC; -o-box-shadow:1px 4px 5px #CCCCCC; -webkit-box-shadow:1px 4px 5px #CCCCCC; border-top:3px solid #000000; background:#FFFFFF; z-index:50; }
.pathwrap ul li.pathM03 div.arrD{ position:relative; display:none; width:13px; height:8px; background:url(../images/sub/pathArow_d.png) bottom no-repeat; top:-10px; left:33px; padding-top:20px}

.pathwrap ul li.pathM03 .subM03 li{border-bottom:1px dashed #E9E9E9; margin-left:5px;}
.pathwrap ul li.pathM03 .subM03 li:nth-last-child(-n+1){ border-bottom:none;}
.pathwrap ul li.pathM03 .subM03 a{ background:none; display:block; font-size:12px; width:105px;  line-height:35px; margin-left:5px; text-align:left; padding-left:10px}


.pathwrap ul li.pathM03 .subM03 ul.subM03_tool li{ background:#F9F9FB; border-bottom:none; width:180px;}
.pathwrap ul li.pathM03 .subM03 ul.subM03_tool li a{width:180px; line-height:25px; font-size:11px}
.pathwrap ul li.pathM03 .subM03 ul.subM03_tool li a:hover{ color:#0066cc}

#content{ position:relative; width:1000px; margin:0 auto;  top:0px;}

h1.title{float:left; width:950px; height:40px; line-height:30px; color:#000; font-size:40px; background:url(../images/sub/titl_icon.png) no-repeat; background-position:0 3px; padding:5px 0 3px 50px;  margin-top:57px; }


/***** login *****/

.login_form{ float:left; width:100%; margin-top:55px; text-align:center; padding-bottom:50px;}
.login_form p{ font-size:31px; font-weight:bold; }
.login_form p span{ font-size:23px; width:100%; display:block; font-weight:normal; margin-top:20px;}
.login_form ul{float:left; height:298px; width:886px; background:url(../images/login/formback.gif) repeat-x; margin:54px 0 0 56px}
.login_form ul li{ float:left; font-size:21px; color:#7f7f7f; font-weight:bold; }
.login_form ul li.emailLi{margin:50px 0 0 166px;}
.login_form ul li.passLi{margin:14px 0 0 145px;}
.login_form ul li.loginBtn a{ float:left; margin:-46px 0 0 15px;}
.texInp{ width:369px; height:18px; padding:13px 0 13px 5px; margin-left:15px; border:1px solid #b2b2b2; font-size:18px;}

.login_form ul li.checkSave{ font-size:14px; font-weight:normal; color:#000000; width:640px; padding:10px 0 25px 0;}
.login_form ul li.btnSearch{margin-left:245px;}



/***** join *****/

ol.join_step { width: 1000px; height: 108px; text-indent: -9999px; overflow: hidden; background-repeat: no-repeat; background-position: top;}
ol.join_step.step1 {background:url(../images/login/step01.gif);}
ol.join_step.step2 {background:url(../images/login/step02.gif);}
ol.join_step.step3 {background:url(../images/login/step03.gif);}
ol.join_step.step4 {background:url(../images/login/step04.gif);}

.agreeT{ margin:50px 0 50px 0;}
.check_agree{ width:990px; height:14px; padding:10px 0 13px 10px; font-weight:bold; font-size:15px; background:#0089d4; color:#FFFFFF; text-align:left;}

h2.subT{ float:left; width:950px; line-height:25px; background:url(../images/sub/subT_icon.gif) no-repeat; background-position:0 10px; padding:0 0 20px 50px; font-size:25px; font-weight:normal;}

.clause { border: 1px solid #CCCCCC; }
.clause { overflow-y: scroll; overflow-x: hidden; padding:15px; height: 200px; margin-bottom: 10px;}
.clause h4 { font-size: 14px; margin: 24px 0px 10px;}
.clause h4:nth-child(1){ margin-top:10px;}

.clause p{ font-size:13px; line-height:21px;}


.clause table{border-collapse:collapse !important;width:90%; margin:5px 0 5px 0}
.clause table th, .clause table td {border:1px solid #dbdbdb; padding:5px; font-size:13px; text-align:center;}
.clause table th{ background-color:#eaeaea;	padding: 4px 0;	}

.check_agree01{ width:990px; height:14px; padding:5px 0 60px 10px; font-weight:bold;  font-size:15px;  text-align:left;}

span.p{display:block; width:100%; padding:3px 0 3px 15px;}


/** join_01 **/
.member_txt{float:left; width:100%; margin-top:10px; font-size:15px; font-weight:bold; }


.entry_area table {float:left;	width:1000px; border-top:2px solid #555555;	border-bottom:1px solid #999999; text-align:left; margin :10px 0 50px 0;}
.entry_area table th{width:350px; text-align:center;  background:#F9F9FB; font-size:18px; color:#333333;}
.entry_area table tr{ border-bottom:1px solid #F3F3F3;}
.entry_area table tr:nth-last-child(-n+1){ border-bottom:none;}
.entry_area table td{   padding:10px 0 10px 30px;}
.entry_area table td a.btn_basic{ height:15px; text-align:center; font-weight:bold; padding:13px 20px 15px 20px; background:url(../images/sub/btn_back.gif) bottom repeat-x; border:1px solid #CCC;}
.entry_area table td a.btn_basic2{ height:7px; text-align:center; font-weight:bold; padding:7px 9px 7px 7px; border:1px solid #CCC;}
.entry_area table td p{ width:100%; padding:8px 0 0 15px; font-weight:bold;}


.entry_area table td div.recaptcha_area {width:375px; height:130px; border:1px solid #CCCCCC; margin-left:15px;}


/** join_02 **/


.stepWrap li{float:left; width:100%;}
.infoStep{ padding:25px; box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; border:1px solid #CCC;}
.stepWrap h4{ font-size:16px;}
.infoStep p{ margin-top:15px; background:url(../images/sub/pathArow_g.png) no-repeat; background-position:0 6px; padding-left:10px;}
.infoStep p:nth-last-child(-n+1){ background:none;}
.infoStep strong{ color:#444444; margin:10px 0 0 11px; font-size:13px;}

.stepWrap li.box01{background:#F9F9FB; float:left; padding:25px; width:433px; height:110px; margin:30px 0 60px 0; border:1px solid #F3F3F3; border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; -o-border-radius:10px; -webkit-border-radius:10px;}
.stepWrap li.box01 h4{ background:url(../images/login/stepIcon01.gif) no-repeat; background-position:0 2px; padding-left:18px;}
.stepWrap a.btn_basic{float:left; height:15px; text-align:center; font-weight:bold; padding:13px 55px 15px 55px; background:url(../images/sub/btn_back.gif) bottom repeat-x; border:1px solid #CCC; margin:15px 0 0 120px;}
.stepWrap li.box01 p{float:left;  width:430px; margin-top:13px; display:block; font-size:13px; font-weight:bold; margin-left:20px;}

.login_form p.agreeT01{ font-size:26px; color:#333333; width:100%; padding-bottom:120px; background:url(../images/login/email_arrow.gif) center bottom no-repeat; }

.emailT{ float:left; width:600px; margin:0 0 20px 210px; font-size:16px; padding-left:10px; background:url(../images/sub/pathArow_g.png) no-repeat; background-position: 0 6px;}
.emailT a.emailBtn{ float:right; background:#0066cc; color:#FFFFFF; font-weight:bold; font-size:14px; width:120px; text-align:center; margin-top:-5px; padding:5px; border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px;}
.emailT a:hover{ color:#ffd400}

.ity_box{float:left; width:1000px; background:#F9F9FB; border:1px solid #CCC; margin:30px 0 60px 0; text-align:center; padding:20px 0 20px 0; color:#555555; font-weight:bold; }

ul.joinBox{ float:left; border:1px solid #CCC; width:960px; padding:20px;}
ul.joinBox li{ float:left; width:100%; background:url(../images/sub/pathArow_g.png) no-repeat; background-position:0 6px; padding-left:10px; line-height:22px;}
ul.joinBox li.memberE{ text-align:center; width:960px; font-weight:bold; background:none; padding-left:0; margin-bottom:10px; }
ul.joinBox li.memberE strong{ color:#0066cc;}
ul.joinBox li.memberE span{ margin-left:20px;}




/** sitemap **/

.sitemapLeft{float:left; width:500px; }
.sitemapLeft .siteMap_ul{float:left; width:430px; border-top:2px solid #000;   }
.sitemapLeft .siteMap_ul li{ float:left; width:420px;  padding:12px 5px 10px 5px; border-bottom:1px dotted #CCC;}
.sitemapLeft .siteMap_ul li:nth-last-child(-n+1)  {border-bottom:1px solid #CCC;}
.sitemapLeft .siteMap_ul li a{color:#000000;}
.sitemapLeft .siteMap_ul li ul.siteMap_sub  { float:right;  width:67%; background:#FFF; }
.sitemapLeft .siteMap_ul li ul.siteMap_sub li{ border-bottom:none;  width:auto; padding:0; padding-right:5px;}
.sitemapLeft .siteMap_ul li ul.siteMap_sub li a{ font-size:13px; color:#555555; margin-left:15px;}


/** emailSearch **/

.emailS{ width:530px; border:1px solid #CCC; background:url(../images/login/formback_top.gif) top repeat-x; margin:0 auto; }
.emailS p.bottom_back{ width:530px; font-size:18px; height:100px; padding:50px 0 30px 0; background:url(../images/login/formback_bottom.gif) bottom repeat-x; margin:0 auto; }
.emailS p.bottom_back a.emailSbtn{float:left; width:120px; height:15px; color:#FFFFFF; margin:20px 0 0 160px; font-size:17px; padding:14px 45px 16px 45px; background:url(../images/sub/Bbtn_back.gif) repeat-x}
.emailS p.bottom_back a:hover{ color:#ffd400}

.bottomT{ margin-top:25px}

.emailS p span{ font-size:14px;}
.emailS p span.emailinfo{ width:300px; margin:10px auto 0 auto; font-weight:bold;  padding:5px 10px 5px 10px; background:#0066cc; color:#FFFFFF; border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px;}


/** passwordSearch **/

.emailP{ float:left; width:480px; border:1px solid #CCC; background:url(../images/login/formback_top.gif) top repeat-x; margin:0 auto; }
.emailP p.bottom_back{ width:480px; font-size:18px; height:150px; padding:50px 0 30px 0; background:url(../images/login/formback_bottom.gif) bottom repeat-x; margin:0 auto; }
.emailP p.bottom_back a.emailSbtn{float:left; width:120px; height:15px; color:#FFFFFF; margin:20px 0 0 140px; font-size:17px; padding:14px 45px 16px 45px; background:url(../images/sub/Bbtn_back.gif) repeat-x}
.emailP p.bottom_back a:hover{ color:#ffd400}

.emailP p span{ font-size:14px; float:left;}

.emailP p.bottom_back a.btn_basic{float:left; width:50px; height:14px; margin:20px 0 0 5px; font-size:17px; padding:13px 15px 17px 15px; background:url(../images/sub/btn_back.gif) bottom repeat-x; border:1px solid #CCC;}
.emailP p.bottom_back a.btn_basic:hover{color:#0066cc }

.passT{ float:left; width:100%; border-bottom:1px solid #CCC; padding:43px 0 40px 0; background:url(../images/login/formback_top.gif) top repeat-x; margin-top:35px; font-size:17px; }


/* infoChange_popup */

#popupWrap{ position:relative; width:100%;}
.passwordC{ width:300px; margin:0 auto; border:1px solid #CCCCCC; border-top:none; padding-bottom:10px;}
.passwordC h2.title{ font-size:17px; background:#0066cc; color:#FFFFFF; font-weight:bold;  padding:10px 0 10px 15px; }
.passwordC ul {padding:0 15px;}
.passwordC ul li{margin-bottom:10px; text-align:justify;}
.passwordC ul li.passin{ border-bottom:1px solid #CCC; padding:10px 0 10px 0; line-height:31px;}
.passwordC ul li.passin strong{ display:block; width:110px; float:left; color:#555555;}
.passwordC ul li.passin input{ width:140px; padding:5px; text-align:center;  border:1px solid #CCCCCC}

.passwordC ul li a.btn_basic{ height:14px; font-weight:bold; margin-left:90px; font-size:17px; padding:5px 25px 7px 25px; background:url(../images/sub/btn_back.gif) bottom repeat-x; border:1px solid #CCC;}


/** out **/

.outBox{ width:100%; background:url(../images/login/formback_top.gif) top repeat-x; margin:0 auto; }
.outBox div.bottom_back{ width:100%; font-size:18px; height:200px; padding:50px 0 30px 0; background:url(../images/login/formback_bottom.gif) bottom repeat-x; margin:0 auto; font-weight:bold;}
.outBox div.bottom_back span{ font-weight:normal; font-size:14px; float:left; border-bottom:1px dashed #CCC; padding-bottom:20px; width:100%; margin:15px 0 30px 0;}
.outBox div.bottom_back  ol li{ float:left; font-weight:normal; font-size:14px; line-height:31px;}
.outBox div.bottom_back  ol li.title01{  width:50%; text-align:right; font-weight:bold;}
.outBox div.bottom_back  ol li.content01{ width:45%; text-align:left; padding-left:10px; }
.outBox div.bottom_back  ol li.content01 input{ width:150px; padding:5px; border:1px solid #666;}



.clause01 { overflow-y: scroll; overflow-x: hidden; height:350px; padding:15px; border: 1px solid #CCCCCC;  float:left; width:950px; margin:20px 0 25px 0;}
.clause01 p{ font-size:14px; line-height:21px; margin-top:10px;}


/* error_popup */

#popupWrap{ position:relative; width:100%;}
.passwordE{ width:600px; height:350px; margin:0 auto; text-align:center; background:url(../images/login/formback_top.gif) top repeat-x;  }
.passwordE02{ width:600px; height:350px;  margin:0 auto; text-align:center; background:url(../images/login/formback_bottom.gif) bottom repeat-x; }

.passwordE h2{  padding:30px 0 10px 10px; margin:0 auto; border-bottom:1px solid #CCCCCC; width:500px; text-align:left; }
.passwordE ul {padding:0 15px 0 0; width:500px; margin:0 auto; border-bottom:1px solid #CCC; }
.passwordE ul li{margin-bottom:10px; }
.passwordE ul li.passin{ padding:25px 0 15px 0; line-height:31px; font-size:25px; font-weight:bold;}
.passwordE ul li.passin span{  font-size:23px;}


.passwordE .btnCenter{ float:left; width:100%; text-align:center; margin-top:30px;}
.passwordE .btnCenter a.btn_basic{height:14px; font-weight:bold; margin-top:20px; font-size:17px; padding:5px 25px 7px 25px; background:url(../images/sub/btn_back.gif) bottom repeat-x; border:1px solid #CCC;}
.passwordE .btnCenter a.Bbtn_basic{height:14px; color:#FFFFFF; font-weight:bold; margin-top:20px; font-size:17px; padding:5px 25px 7px 25px; background:url(../images/sub/Bbtn_back01.gif) bottom repeat-x; border:1px solid #CCC;}


/**********************************************************************************************/

/** sub01 창조 앱 빌리지 소개 **/

.thispage{ float:left; margin-top:40px; width:1000px; padding-bottom:50px;}
.subText{float:left; margin:0px 0 0 50px; width:950px; text-align:justify;}
.subText li{ width:988; padding-left:12px; background:url(../images/sub/blit.gif) no-repeat; background-position:0 8px; margin-bottom:10px;}
.systemImg{ float:left; width:950px; height:726px; margin:10px 0 50px 35px; background:url(../images/sub/info/sub01system.png) no-repeat;}
.systemImg a{float:left; display:block; height:27px;}
.systemImg a.T01{margin:70px 0 0 35px;}
.systemImg a.T02{margin:70px 0 0 691px;}
.systemImg a.T03{margin:203px 0 0 31px}
.systemImg a.T04{margin:203px 0 0 715px}
.systemImg a.T05{margin:248px 0 0 320px}
.way01{float:left; background:url(../images/sub/small_right2.gif) no-repeat; background-position:0 8px;margin:10px 0 0 50px; padding-left:13px; width:937px; line-height:22px;}
.img_caption{ width:950px; float:left; margin:10px 0 0 50px;}
.img_caption img{width:726px; display:block; margin:0 auto 20px auto}


/** sub01_1~ 시설안내 **/

.tab_menu{overflow:hidden; width:100%; /*position:relative;*/ margin-bottom:15px; top:-4px;}
.tab_menu li{float:left;}

h3.subT{width:700px;  background:url(../images/sub/subT_icon.gif) no-repeat; background-position:0 25px; padding:15px 0 10px 50px; font-size:21px; font-weight:normal;}

.screen_shot1{overflow:hidden; padding:0 53px 53px 180px; padding-bottom:0px; }
.screen_shot1 li{float:left; padding:15px;}
.screen_shot1 li img{border:1px solid #c8c8ca;}
.screen_shot2{overflow:hidden; padding:0 53px 53px 180px; padding-bottom:0px; text-align:center;}
.screen_shot2 li{float:left; padding:15px;}
.screen_shot3{overflow:hidden; padding:0 53px 53px 180px; padding-bottom:0px;}
.screen_shot3 li{float:left; padding:15px;}
.academy_btn{text-align:right; padding-top:15px; margin-top:15px;}


.academy_dot_list li{padding-left:10px;  background:url(../images/sub/blue_dotted.gif) 0 10px no-repeat;  margin-left:60px; line-height:23px;}

.academy_h_list1 ul li, .academy_h_list2 ul li, .academy_h_list3 ul li{padding-left:10px; background:url(../images/sub/blue_dotted.gif) 0 7px no-repeat; margin-left:60px; }



.academy_h_list2{margin:30px 0;}



/* sub01_1_1 지역거점센터 */


.map_content .donwork{margin-bottom:28px;}
.map_content .donwork dt{margin-bottom:15px;}
.map_content .donwork dt h3, .donwork2 dt h3{width:940px;  background:url(../images/sub/subT_icon.gif) no-repeat; background-position:0 25px; padding:15px 0 10px 50px; font-size:21px; font-weight:normal; margin-left:10px;}
.map_content .donwork dd{padding-left:60px;}
.map_content .donwork dd span{padding-left:10px; background:url(../images/sub/blue_dotted.gif) 0 8px no-repeat;}
.map_content .donwork dd .dot_ul li{padding-left:10px; background:url(../images/sub/blue_dotted.gif) 0 8px no-repeat; line-height:23px;}
.map_content .donwork dd .img_ul{overflow:hidden; border-top:1px solid #cedbe4; padding-top:15px; padding-bottom:10px; border-bottom:1px solid #dfdfdf; }
.map_content .donwork dd .img_ul li{float:left; border-right:1px dotted #dfdfdf; padding:0 20px;}
.map_content .donwork dd .img_ul li.first{padding-left:17px;}
.map_content .donwork dd .img_ul li.last{border-right:0; padding-right:17px;}
.map_content .donwork dd .img_ul li dl dt{margin-bottom:0;}
.map_content .donwork dd .img_ul li dl dd{text-align:center; margin-top:7px; padding-left:0;}
.map_content .donwork2{margin-bottom:28px; clear:both;}
.map_content .donwork2 dt{margin-bottom:15px;}
.map_content .donwork2 dd{padding-left:7px;}
.map_content .donwork2 dd span{padding-left:10px; background:url(../images/sub/blue_dotted.gif) 0 8px no-repeat;}
.map_content .donwork2 dd .dot_ul li{padding-left:10px; background:url(../images/sub/blue_dotted.gif) 0 8px no-repeat; line-height:23px;}
.map_content .donwork2 dd .img_ul{overflow:hidden; border-top:1px solid #cedbe4; padding-top:15px; padding-bottom:10px; border-bottom:1px solid #dfdfdf; text-align:center; width:100%;}
.map_content .donwork2 dd .img_ul li{float:left; border-right:1px dotted #dfdfdf; padding:0 20px;}
.map_content .donwork2 dd .img_ul li.first{padding-left:17px;}
.map_content .donwork2 dd .img_ul li.last{border-right:0; padding-right:12px;}
.map_content .donwork2 dd .img_ul li dl dt{margin-bottom:0;}
.map_content .donwork2 dd .img_ul li dl dd{text-align:center; margin-top:7px; padding-left:0;}


p.blue_way{line-height:23px; padding-left:10px; background:url(../images/sub/small_right2.gif) 0 9px no-repeat; font-weight:bold; color:#0066cc }
.depth2{margin-left:14px; margin-top:12px; margin-bottom:17px;}


.map_content .js{margin-bottom:28px;}
.map_content .js dt{margin-bottom:15px;}
.map_content .js dd{padding-left:7px;}
.map_content .js dd .dot_ul{float:left; padding-left:10px; width:265px; margin:20px 0;}
.map_content .js dd .dot_ul li{padding-left:10px; background:url(../images/sub/blue_dotted.gif) 0 8px no-repeat; line-height:20px;}



/** sub01_2 우리앱 홍보 **/

.ground_app{width:100%; table-layout:fixed; border-bottom:1px solid #e1e1e1; }
.ground_app.first{border-top:1px solid #cedbe4;}
.ground_app.last{border-bottom:1px solid #cedbe4;}
.ground_app tbody td{text-align:left; vertical-align:middle;}
.ground_app tbody td.one{text-align:center; vertical-align:middle; padding:7px 0 7px 0;}
.ground_app tbody td.two{ border-bottom:1px dotted #dfdfdf; padding-bottom:7px; padding-top:7px;}
.ground_app tbody td.two span{padding-left:10px; background::url(../images/sub/blue_dotted.gif) 0 4px no-repeat; font-weight:bold; color:#555555;}
.ground_app tbody td.three{padding:3px 0 3px 20px;border-bottom:1px dotted #dfdfdf; background:url(../images/sub/info/app/outline.gif) left no-repeat;}
.ground_app tbody td.three img{vertical-align:middle;}
.ground_app tbody tr.first td.two{padding-top:8px;}
.ground_app tbody tr.last td.two{padding-top:8px;}
.ground_app tbody tr.last td.three{padding-top:8px;}


/** sub01_3 협력기관 안내 **/

.api_table2{width:100%; table-layout:fixed; border-collapse:collapse;}
.api_table2 thead th{border-top:2px solid #555555; border-bottom:1px solid #CCCCCC; padding:8px 0; background:url(../images/sub/table_head_line.gif) center center no-repeat; background-color:#f5f5f7;}
.api_table2 thead th.last{background:none; background-color:#f5f5f7;}
.api_table2 tbody td{border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; vertical-align:middle; text-align:center; padding:8px 0;}
.api_table2 tbody td.last{border-right:0;}
.api_table2 tbody td.first{border-left:0;}
.api_table2 tbody td.dotted{border-bottom:1px dotted #e1e1e1;}
.api_table2 tbody td.content{vertical-align:middle; word-break:break-all; word-wrap:break-word; line-height:20px; text-align:left; padding:10px 10px; padding-top:12px; padding-bottom:8px;}
.api_table2 tbody td.content p{padding-left:10px; background:url(../images/sub/blue_dotted.gif) 0 8px no-repeat; line-height:18px;}
.api_table2 tbody td.content a:link{color:#555555;}
.api_table2 tbody td ul li{padding-left:10px; background:url(../images/sub/blue_dotted.gif) 0 8px no-repeat; margin-bottom:3px;}



/** sub01_4  오시는길 **/
dl.help h3{width:940px;  background:url(../images/sub/subT_icon.gif) no-repeat; background-position:0 25px; padding:15px 0 10px 50px; font-size:21px; font-weight:normal; margin-left:10px;}

.map_group{padding:0 8px;}
.cont01{margin-bottom:20px;}
.val_list li{padding-left:10px; background:url(../images/sub/blue_dotted.gif) 0 8px no-repeat;  }
.object_image{overflow:hidden; padding:0 13px; margin-top:30px;}
.object_image li{float:left; margin-right:5px;}

.map{margin-bottom:12px;}
.help{margin-bottom:23px;}
.help dt{margin-bottom:10px;}
.help dd{margin-left:8px;}

.way02{padding-left:10px; background:url(../images/sub/blue_dotted.gif) 0 8px no-repeat; margin:0 0 15px 50px;}


/** sub02 심층 보고서 **/



.search_select{text-align:right; margin-bottom:10px;}
.search_select select{  height:30px; padding-left:5px; padding-right:5px; }
.search_select .text_form{position:relative;  margin-right:9px; display:inline-block; vertical-align:center; width:200px; height:20px; *margin-right:5px; *top:-4px;}
.search_select .text_form #search_text{border:1px solid #e1e1e1; width:200px; height:20px;  line-height:23px; padding:3px 0 5px 6px; border:1px solid #777}
.search_select .text_form label{left:5%; top:25%; color:#b4b4b4;}
/** 카테고리검색추가*/
.search_select2{text-align:right; margin-bottom:10px;}
.search_select2 select{width:140px; height:30px; padding-left:5px; }

.list_table{width:100%; table-layout:fixed;}
.list_table thead th{border-top:2px solid #555555; border-bottom:1px solid #CCCCCC; padding:8px 0;  background:url(../images/sub/table_head_line.gif) right center no-repeat; background-color:#f5f5f7;}
.list_table thead th.last{background:none; background-color:#f5f5f7;}
.list_table tbody td{border-bottom:1px solid #e1e1e1; vertical-align:middle; text-align:center; padding:8px 0; height:23px;}

.list_table tbody td:first-child{padding:0; vertical-align:middle; padding-top:4px;}
.list_table tbody td.subject{text-align:left; padding:0 12px;}
.list_table tbody td.subject a{display:inline-block; max-width:90%; vertical-align:middle;}
.list_table tbody td.subject img{vertical-align:middle; margin-left:5px;}

.view_table{width:100%; table-layout:fixed; border-top:2px solid #555555;}
.view_table tbody th{background-color:#f5f5f7; padding:8px 0 8px 0; text-align:center; border-bottom:1px solid #CCCCCC; letter-spacing:1px;}
.view_table tbody td{vertical-align:middle; padding:8px 0 8px 10px; text-align:left; border-bottom:1px solid #CCCCCC;}
.view_table tbody td img{vertical-align:middle;}
.view_table tbody td.content{word-break:break-all; word-wrap:break-word; text-align:left; padding:20px 25px; }
.view_table tbody td.content a:link{color:#1875c0;}
.view_table tbody td.download img{vertical-align:top;}
.view_table tbody td.list_view{text-align:right; padding-top:15px; padding-bottom:45px; bottom:1px solid #cedbe4;}


.bullet_top{padding-right:20px; background:url(../images/sub/bullet_top.gif) right 5px no-repeat;}
.bullet_bottom{padding-right:20px; background:url(../images/sub/bullet_bottom.gif ) right 5px no-repeat;}


.sns_icon{text-align:right; margin-bottom:10px;}



/** sub03_2 Open API 소개 **/

.subText_api{float:left; margin:0px 0 0 50px; width:950px; }
.subText_api li{ float:left; width:600px; padding-left:12px; background:url(../images/sub/blit.gif) no-repeat; background-position:0 8px; margin-bottom:10px;}
.subText_api li.apiImg{ background:none; width:229px; float:left; margin-right:20px; }


/** sub03_2_2 국외API **/

.api_table{width:100%; table-layout:fixed; border-collapse:collapse;}
.api_table thead th{border-top:1px solid #555555; border-bottom:1px solid #CCC; padding:8px 0;background:url(../images/sub/table_head_line.gif) center center no-repeat; background-color:#f5f5f7;}
.api_table thead th.last{background:none; background-color:#f5f5f7;}
.api_table tbody td{border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; vertical-align:middle; text-align:center; padding:8px 0;}
.api_table tbody td.last{border-right:0;}
.api_table tbody td.first{border-left:0;}
.api_table tbody td.dotted{border-bottom:1px dotted #e1e1e1;}
.api_table tbody td.content{vertical-align:middle; word-break:break-all; word-wrap:break-word; text-align:left; padding:8px 10px; padding-top:10px; padding-bottom:6px;}
.api_table tbody td.content p{padding-left:10px; background:url(../images/sub/blue_dotted.gif) 0 8px no-repeat; }
.api_table tbody td ul li{padding-left:10px; background:url(../images/sub/blue_dotted.gif) 0 8px no-repeat;  margin-bottom:8px;}


/** sub03_4 커뮤니티 링크**/

.cumu_table{width:100%; table-layout:fixed; border-collapse:collapse;}
.cumu_table thead th{border-top:1px solid #555555; border-bottom:1px solid #CCC; padding:8px 0;  background:url(../images/sub/table_head_line.gif)  center center no-repeat; background-color:#f5f5f7;}
.cumu_table thead th.last{background:none; background-color:#f5f5f7;}
.cumu_table thead th.left_dotted{background:url(../images/sub/table_head_line.gif)  right center no-repeat; background-color:#f5f5f7;}
.cumu_table thead th.right_dotted{background:url(../images/sub/table_head_line.gif)  left center no-repeat; background-color:#f5f5f7;}
.cumu_table tbody td{border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; vertical-align:middle; text-align:center; padding:8px 0;}
.cumu_table tbody td.last{border-right:0;}
.cumu_table tbody td.first{border-left:0;}
.cumu_table tbody td.dotted{border-bottom:1px dotted #e1e1e1;}
.cumu_table tbody td.content{vertical-align:middle; word-break:break-all; word-wrap:break-word; line-height:20px; text-align:left; padding:8px 10px; padding-top:10px; padding-bottom:6px;}
.cumu_table tbody td.content p{padding-left:10px; background:url(../images/sub/blue_dotted.gif) 0 8px no-repeat; }
.cumu_table tbody td ul li{padding-left:10px; background:url(../images/sub/blue_dotted.gif) 0 8px no-repeat; margin-bottom:3px;}



/* Basic Tab */
nav.basic_tab { overflow: hidden; border-bottom: 1px solid #333333; padding-bottom: 0px;}
nav.basic_tab ul li {float: left; margin: 0; 	width: auto;}
nav.basic_tab ul li a { float: left; display: block; min-width: 216px; padding: 13px 16px; margin: 0px; color: #333333; font-size: 16px; line-height: 1; text-align: center; border-width: 1px 1px 1px 0px; border-style: solid; border-color: #DDDDDD; background-color: #F3F3F3;}
nav.basic_tab ul li:first-child a {	border-left-width: 1px; }
nav.basic_tab ul li a:hover, nav.basic_tab ul li a:focus, nav.basic_tab ul li a.on { border-color: #555555; background-color: #555555; color: white; }


/* FAQ - 목록 */
dl#faq_list {margin: 0px 0px 38px 0px;}
dl#faq_list dt, dl#faq_list dd {border-bottom: 1px solid #CCCCCC;}
dl#faq_list dt span{display:block; width:80px; text-align:center; float:left; margin-right:15px; background:url(../images/sub/faq_line.gif) right no-repeat;}

dl#faq_list dt a {display:block; padding: 20px 30px 18px 0; line-height: 140%; color: #333333;}
dl#faq_list dd {display: none; margin-left: 0px; padding: 20px 30px 18px 95px; line-height: 140%; color: #333333; background: #F3F3F3 url(../images/sub/q_arrow.png) no-repeat 37px 19px;}


/** sub04 서비스안내 **/
.subText li.textB{ background:url(../images/sub/04environment/textB_back.gif) no-repeat; width:940px; height:36px; font-size:16px; padding:18px 0 0 0; text-align:center; font-weight:bold;}

.serviceT{ float:left; width:932px; margin-left:50px; background:url(../images/sub/serviceT_blit.gif) no-repeat; background-position:0 5px; padding :0 0 5px 16px; margin-top:10px}
.serviceT a.btn_basic{ height:15px; text-align:center; font-weight:bold; font-size:12px; padding:5px 10px 5px 10px; background:url(../images/sub/btn_back.gif) bottom repeat-x; border:1px solid #CCC;}

a.btn_basic02{ display:block; margin-top:5px; width:350px; height:15px; text-align:center; font-weight:bold; font-size:12px; padding:5px 0 9px 0; background:url(../images/sub/btn_back.gif) bottom repeat-x; border:1px solid #CCC  }


.table_inp{ width:140px; padding:5px;  border:1px solid #CCCCCC}
.table_span{ font-size:13px; line-height:24px;}
.table_area{ width:800px; height:80px; padding:10px;  border:1px solid #CCCCCC}


li.downBtn{ background:none; }
.downBtn a.btn_basic02{ display:block; width:250px; height:25px; font-size:15px; text-align:center;   padding:8px 0 5px 0; font-weight:bold; background:url(../images/sub/btn_back.gif) bottom repeat-x; border:1px solid #CCC; margin:0 auto; margin-top:25px;}
.downBtn a.btn_basic02 img{ margin:2px 0 0 3px;}
.downBtn a.btn_basic02:hover{ text-decoration:underline;}

h3.subT01{margin-left:50px;}


/* Youtube */
.movie_info{ float:left;  padding:10px 0; width:950px; margin:15px 0 30px 50px; text-align:center;}
.video_wrapper{width:640px; height:360px; background:#FFFFFF; margin-left:155px; background: #1b1b1b;}


/* sub04_2_1 프로젝트관리 */

.project{width:100%; table-layout:fixed;}
.project thead th{border-top:2px solid #0F4374; border-bottom:1px solid #3D8AE9; padding:8px 0;  background:url(../images/sub/faq_line.gif) right center no-repeat; color:#FFFFFF; background-color:#0066cc;}
.project thead th:last-child{background:none; background-color:#0066cc;}
.project tbody td{border-bottom:1px solid #e1e1e1; vertical-align:middle; text-align:center; padding:8px 0; height:23px;}

.project tbody td:first-child{padding:0; vertical-align:middle; padding-top:4px;}
.project tbody td.subject{text-align:left; padding:0 12px;}
.project tbody td.subject a{display:inline-block; max-width:90%; vertical-align:middle;}
.project tbody td.subject img{vertical-align:middle; margin-left:5px;}

.project tbody td a.btn_supervise {display: inline-block; color: white; line-height: 1; width: 58px; padding: 7px 10px 7px 25px; background:url(../images/sub/04environment/btn_supervise.png) no-repeat left top;}
.project tbody td a.btn_supervise:hover, td a.btn_supervise:focus {color: #ffff00; background-position: -93px top;}

.project tbody td.name{ text-align:left; padding:0 0 0 23px;  background:url(../images/sub/pathArow_g.png) no-repeat; background-position:10px 18px}


.project tbody td div{padding:20px 0 7px 0; background:#F9F9FB; margin-top:-5px; border-bottom:1px solid #0F4374 }
.project tbody td.project_sub{ border-bottom:none;}
.project tbody td a.btn_basic{ height:15px; text-align:center; font-weight:bold; padding:3px 20px 4px 20px; background:url(../images/sub/btn_back.gif) bottom repeat-x; border:1px solid #CCC;}
.project tbody td div input.table_inp{ width:790px; padding:5px 5px 4px 5px;  border:1px solid #CCCCCC; margin-left:5px;}
.project tbody td div p.contents{ width:945px; text-align:left; padding:5px; margin:10px 0 15px 20px; color:#555; font-size:13px;}

.plus_select{text-align:right; margin-bottom:10px;}
.plus_select a.ploject_plus {display: inline-block; font-size:17px; font-weight:bold; color:#0f4374; line-height:1; width:164px; height:39px; background:url(../images/sub/04environment/btn_project.png) no-repeat left top;}
.plus_select a.ploject_plus:hover,  a.ploject_plus:focus {background-position: -186px top;}


/* sub04_2_1project_creation 프로젝트 생성*/

.project_view_table{width:100%; table-layout:fixed; border-top:2px solid #0F4374;}
.project_view_table tbody th{background-color:#f5f5f7; padding:8px 0 8px 0; text-align:center; border-bottom:1px solid #CCCCCC; letter-spacing:1px;}
.project_view_table tbody td{vertical-align:middle; padding:8px 0 8px 10px; text-align:left; border-bottom:1px solid #CCCCCC;}
.project_view_table tbody td input.table_inp{ width:250px;  padding:5px;  border:1px solid #CCCCCC}
.project_view_table tbody td a.btn_basic{ height:14px; text-align:center;  font-weight:bold; padding:3px 10px 6px 10px; background:url(../images/sub/btn_back.gif) bottom repeat-x; border:1px solid #CCC;  }
.project_view_table tbody td textarea.table_inp{ width:780px; height:40px;  padding:5px;  border:1px solid #CCCCCC}
.project_view_table tbody td span{ float:left; margin-top:5px; font-size:13px; color:#666666;}

.project_edit_member {width: 800px; position: relative; text-align: right; margin-bottom: 10px;}
.project_edit_member button{color: #0066cc; font-size: 14px; line-height: 1; margin-left: 2px;}
.project_edit_member button.btn_help {padding: 7px 9px 8px 9px; width: 67px; background:url(../images/sub/btn_back.gif) repeat-x left top; border:1px solid #CCC;}
.project_edit_member button.btn_help:hover{ font-weight:bold; text-decoration:underline;}


.project_edit_member .popup_help {display: none; position: absolute; z-index: 20; top: 35px; right: 91px; width: 300px; color: #555555; font-size:13px; padding: 7px 17px; text-align: left; border: 1px solid #0066cc; background-color: #F9F9F9;}
.project_edit_member .popup_help p{ margin-bottom:5px;}
.project_edit_member .popup_help:before {content: '';	display: block;	width: 0;	height: 0;	position: absolute;	top: -8px;	right: 47px;	border-left: 8px solid transparent;	border-right: 8px solid transparent;	border-bottom: 8px solid #0066cc;}
.project_edit_member .popup_help:after {content: '';	display: block;	width: 0;	height: 0;	position: absolute;	top: -6px;	right: 49px;	border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid #F9F9F9;}

.project_edit_member a.btn_add_member { display:inline-block; color: #0066cc; font-size: 14px; padding: 5px 9px 4px 9px; width: 84px; text-align:center;background:url(../images/sub/btn_back.gif) repeat-x left top;	border:1px solid #CCC;}

ul.project_member_list { width: 95%; background-color: #F1FFFD;	border: 1px solid #CCCCCC;}
ul.project_member_list li { position: relative; z-index: 19; padding: 12px 72px 12px 33px; border-top: 1px solid #CCCCCC;}
ul.project_member_list li:first-child {	border-top: 0px;}
ul.project_member_list li.no_member {background: none;text-align: center;}


/* sub04_2_1popup_UserList 회원검색 */


.passwordU{ width:445px; margin:0 auto; padding-bottom:10px;}
.passwordU h2.title{ font-size:21px; background:#0066cc; color:#FFFFFF; font-weight:bold;  padding:10px 0 10px 15px;}
.passwordU ul {padding:0 15px;}
.passwordU ul li{margin-bottom:10px; text-align:justify;  }
.passwordU ul li.passin{  padding:35px 0 10px 20px; line-height:31px;}
.passwordU ul li.passin strong{ display:block; width:75px; float:left;  }
.passwordU ul li.passin input{ width:205px; padding:7px 5px 6px 5px; text-align:left;  border:1px solid #CCC}
.passwordU ul li textarea.userList{ border:1px solid #888888; width:380px; padding:15px; height:140px; border:1px solid #CCC; border-top:2px solid #0066cc; margin-bottom:10px }
.passwordU ul li a.btn_basic{  height:14px; font-weight:bold; font-size:17px; padding:5px 25px 7px 25px; background:url(../images/sub/btn_back.gif) bottom repeat-x; border:1px solid #CCC; margin-left:170px;}


/* sub04_2_1Deatil  프로젝트관리 상세보기 */
.project_detail{width:100%; table-layout:fixed;border-top:2px solid #0F4374;}
.project_detail th{ border-bottom:1px solid #CCC; padding:8px 0; background-color:#F3F3F3;}

.project_detail td{border-bottom:1px solid #CCC; vertical-align:middle; text-align:left; padding:10px 5px 10px 20px; }

.project_detail th a.btn_supervise {display: inline-block; color: white; line-height: 1; width: 58px; padding: 7px 10px 7px 25px; background:url(../images/sub/04environment/btn_supervise.png) no-repeat left top;}
.project_detail th a.btn_supervise:hover, td a.btn_supervise:focus {color: #ffff00; background-position: -93px top;}

.project_detail th.name{ text-align:left; padding:0 0 0 30px;  background:url(../images/sub/pathArow_g.png) no-repeat; background-position:15px 18px; background-color:#F3F3F3}

.project_create_btn {display: block; margin-top:30px; text-align: right;}
.project_create_btn a.btn_submit2{ padding:5px 15px 5px 15px; border:1px solid #0F4374; background:#FFF; font-weight:bold; color: #0F4374;}
.project_create_btn a.btn_submit2:hover{ background:#ECF3FD; text-decoration:underline;}


.project_create_btn a.btn_basic{padding:5px 15px 5px 15px; font-weight:bold; background:url(../images/sub/btn_back.gif) bottom repeat-x; border:1px solid #CCC; color:#777777;}
.project_create_btn a.btn_basic:hover{ color:#0066cc; text-decoration:underline;}



.project_list table { float:left; margin-top:20px; width: 100%;  }

.project_list table thead tr th {border-top:2px solid #0F4374; border-bottom:1px solid #3D8AE9; padding:8px 0;  background:url(../images/sub/faq_line.gif) right center no-repeat; color:#FFFFFF; background-color:#0066cc;}
.project_list table thead tr th:last-child {background-image:none;}

.project_list table tbody tr td { border-bottom:1px solid #CCCCCC; text-align:center; padding:8px 0 8px 0;}

.project_list table tbody tr td span.project_type.flaw {background-color: #7BB57D;	display: inline-block; color:#FFF; width: 38px; line-height: 1; font-size: 11px; border-radius: 4px; padding: 6px 0px 5px 0px; text-align: center;}
.project_list table tbody tr td span.project_current {display: inline-block; width: 38px; line-height: 1; font-size: 11px; border-radius: 4px; padding: 6px 0px 5px 0px; text-align: center; border: 1px solid #CCCCCC;}

.project_list table tbody tr td.subject{ text-align:left; padding-left:15px;}
.project_list table tbody tr td.date{ font-size:13px; }


h2.subT a{display:block; float:right; width:127px; height:38px; margin-top:-8px;}
ul.noB li{ background-image:none;}


/* sub05 게임저작도구 */


.subT02{float:left; margin:0px 0 0 55px; width:950px; text-align:justify;}
.subT02 li{  padding-left:12px; margin-bottom:10px;}
.subT02 li.stitle{ font-weight:bold; background:url(../images/sub/serviceT_blit.gif) no-repeat; background-position:13px 5px; padding-left:30px; font-size:15px; }

.subT02 li.editor{ width:100%; text-align:center; }
.subT02 li.editor a{ margin-right:10px;}

.subT02 li.sli{ line-height:15px; margin-left:20px;}

.downloadcenter{ float:left; width:850px; margin:0px 0 20px 110px;}
.downloadcenter a.btn_basic02{ display:block; width:250px; height:25px; font-size:15px; text-align:center;   padding:12px 0 8px 0; font-weight:bold; background:url(../images/sub/Bbtn_back.gif) bottom repeat-x; border:1px solid #CCC; margin:0 auto;  color:#FFFFFF; float:left; margin-right:10px;}
.downloadcenter a.btn_basic02 img{ margin:2px 0 0 3px;}
.downloadcenter a.btn_basic02:hover{ color:#ffd400}


/* 관련 예제 앱 */
aside.current_toos ul{ float:left; margin:10px 0 0 50px;}
aside.current_toos ul li { position: relative; padding-left: 112px; min-height: 106px;}
aside.current_toos ul li h3 { font-size: 18px !important; background: none !important; padding: 12px 0px 14px 0px !important; margin-bottom: 0px !important;}
aside.current_toos ul li h3 a {color: #333333 !important;}
aside.current_toos ul li p {padding-left: 0px !important;}
aside.current_toos ul li .app_ico {position: absolute; top: 0px; left: 0px;}
aside.current_toos p strong{ color:#0066cc}



/* sub05_1 */

.subT02 li.center{float:left; width:100%; text-align:center; font-weight:bold; color:#33333; padding:10px 0 5px 0;}
.subT02 li.center01{float:left; width:100%; text-align:center;  padding:0 0 10px 0; margin-top:-18px; color:#0066cc}
.downBtn a.btn_basic03{ display:block; width:250px; height:25px; font-size:15px; text-align:center;   padding:8px 0 5px 0; font-weight:bold; background:url(../images/sub/btn_back.gif) bottom repeat-x; border:1px solid #CCC; margin:0 10px 25px 0; float:left;}
.downBtn a.btn_basic03 img{ margin:2px 0 0 3px;}

.videoBox{ width:100%; text-align:center; float:left;}
.videoBox a{margin-left:10px;}


.check_agree02{ float:left; width:935px; height:14px; padding:10px 0 16px 15px; margin:15px 0 0 50px; font-weight:bold; font-size:15px; background:#0089d4; color:#FFFFFF; text-align:left; font-size:16px;}
.check_agree02 strong{ color:#ffd400}


/* sub05_2 */

.list_table tbody.left td{ text-align:left; padding-left:20px;  border-right:1px solid #EEE;}
.list_table tbody.left td:nth-last-child(-n+1){border-right:none;}
.list_table tbody.bordernone td{ border-right:none;}

span.info{ float:left; width:800px; margin-left:95px;}



/* sub05_2_3popup 앱개발자문시스템 */


.passwordA{ width:630px; margin:0 auto; padding-bottom:10px; border:1px solid #CCC;}
.passwordA h2.title{ font-size:21px; background:#0066cc; color:#FFFFFF; font-weight:bold;  padding:10px 0 10px 15px;}
.passwordA ul {padding:0 15px;}
.passwordA ul li{margin-bottom:10px; text-align:justify;  }
.passwordA ul li strong{ display:block; width:100%; font-size:16px;  line-height:31px;}
.passwordA ul li strong.first{margin-top:20px}
.passwordA ul li strong input{ margin-top:-2px}
.passwordA ul li span{ display:block; margin-bottom:15px; padding-left:32px; background:url(../images/sub/blit.gif) no-repeat; background-position:22px 8px;}


.passwordA ul li.group{ width:100%; text-align:center; padding:30px 0 0 0;}
.passwordA ul li input.id{ width:200px; padding:5px;}

.passwordA ul li.group01{ width:100%; text-align:center; padding:5px 0 30px 0;}

a.btn_basic05{ display:block; width:250px; height:25px; font-size:15px; text-align:center;   padding:8px 0 5px 0; font-weight:bold; background:url(../images/sub/btn_back01.gif) bottom repeat-x; border:1px solid #CCC; margin:0 10px 25px 0; float:left; color:#FFFFFF;}

/***** SMAC 검색 ***/

li.search_result{ margin:45px 0 10px 5px; padding-left:30px; letter-spacing:0.5px; background:url(../images/sub/q_arrow02.png) 5px 1px no-repeat;  }
li.search_result strong{color:#FF641A}



.se_infomation{margin-bottom:45px; position:relative;}
.se_infomation h3.info_subject{ margin-top:50px; margin-bottom:20px; font-size:18px; padding-bottom:4px; padding-left:26px; border-bottom:2px solid #e8e6e6; background:url(../images/sub/serviceT_blit.gif) 10px 5px no-repeat;}
.se_infomation h3.info_subject span{font-size:13px; color:#969696; font-weight:normal; padding-left:5px;}
.se_infomation h3.info_subject span.orange{padding:0 2px 0 2px; color:#ff6c00; font-weight:bold;}


.more{background:url(../images/sub/moreIcon.gif) right 5px no-repeat; padding-right:8px; display:block; width:41px; position:absolute; top:3px; right:8px; text-indent:-9999px}


.se_content{margin-bottom:18px; padding:0 10px 0 10px}
.paragrah01{margin-bottom:8px;}
.paragrah01 a{color:#4870a1; font-weight:bold;  text-decoration:underline;}
.paragrah01 a img{vertical-align:text-bottom;}
.paragrah02{ margin-bottom:18px;}
.paragrah03{color:#969696; font-size:13px;}

.list_table{width:100%; table-layout:fixed; float:left;}
.list_table tbody td{border-bottom:1px solid #e1e1e1; vertical-align:middle; text-align:center; padding:8px 0; height:23px; border-right:1px solid #e1e1e1;}
.list_table tbody td:nth-last-child(-n+1){ border-right:none;}


.pathwrap ul li.pathM01 div.arrB{ position:relative; display:none; width:80px; height:8px; background:url(../images/sub/pathArow_b.png) left bottom no-repeat; top:-10px; left:33px; padding-top:20px}
.pathwrap ul li.pathM02 div.arrY{ position:relative; display:none; width:80px; height:8px; background:url(../images/sub/pathArow_y.png) left bottom no-repeat; top:-10px; left:33px; padding-top:20px}
.pathwrap ul li.pathM03 div.arrD{ position:relative; display:none; width:167px; height:8px; background:url(../images/sub/pathArow_d.png) left bottom no-repeat; top:-10px; left:33px; padding-top:20px}

.pathwrap ul li.pathM03 .subM03 ul.subM03_tool li{ background:#F9F9FB; height:21px; border-bottom:none; width:180px;}
.pathwrap ul li.pathM03 .subM03 ul.subM03_tool li:nth-last-child(-n+1){ padding-bottom:5px;}

/************* 1204개인정보처리방침 ********************/

.subText_self{float:left; margin:20px 0 20px 15px; width:985px; text-align:justify;}
.subText_self li{ width:988; padding-left:12px; background:url(../images/sub/blit_b.gif) no-repeat; background-position:0 9px; margin-bottom:7px;}

.clause01 h3{margin:25px 0 0 0;}
.clause01 h4{margin:15px 0 0 15px; font-size:15px; }
.self_txt{ padding-left:14px; margin-top:5px;}

.clause01 table.list_table{width:98%; float:left;  margin :5px 0 0 15px; border:1px solid #e1e1e1}
.clause01 table.list_table thead th{border-top:2px solid #555555; border-bottom:1px solid #CCCCCC; padding:8px 0;  background:url(../images/sub/table_head_line.gif) right center no-repeat; background-color:#f5f5f7;}
.clause01 table.list_table thead th.last{background:none; background-color:#f5f5f7;}
.clause01 table.list_table tbody td{border-bottom:1px solid #e1e1e1; vertical-align:middle; text-align:center; padding:8px 0; height:23px; border-right:1px solid #e1e1e1}

.clause01 table.list_table tbody td:first-child{padding:0; vertical-align:middle; padding-top:4px;}
.clause01 table.list_table tbody td.subject{text-align:left; padding:0 12px;}


/********* 20150610 ***********/

.tdselect{ width:61%; height:35px; padding:0 0 0 5px; margin-left:15px; border:1px solid #b2b2b2; font-size:15px;}

.searchP{ float:left; width:480px; background:url(../images/login/formback_top.gif) top repeat-x; margin:0 auto; }

.searchP p.bottom_back{ width:460px; font-size:18px; height:200px;  border:1px solid #CCC; padding:25px 0 30px 18px; background:url(../images/login/formback_bottom.gif) bottom repeat-x; margin:0 auto; text-align:left; font-weight:bold;}
.searchP p.bottom_back img{margin:9px 7px 0 0;}

table.searchTb{ float:left; width:450px;  text-align:left; margin: -195px 0 0 15px;}
table.searchTb td select.tdselect{ width:302px; height:35px; padding:0 0 0 5px; margin-left:15px; border:1px solid #b2b2b2; font-size:15px;}
table.searchTb td  { padding:5px 0 5px 0;}

table.searchTb td input.texInp{ width:295px; height:18px; padding:5px 0 5px 5px; margin:0 0 0 15px; border:1px solid #b2b2b2; font-size:15px;}

a.btn_basic { float:left; display:block; width:100px; height:13px; margin:-55px 0 0 180px; font-size:17px; padding:6px 15px 12px 15px; background:url(../images/sub/btn_back.gif) bottom repeat-x; border:1px solid #CCC; font-weight:600; text-align:center;}
a.btn_basic:hover{color:#0066cc }

table.mb{margin: -175px 0 0 15px;}
a.mT70{margin:-70px 0 0 180px;}

a.btn_basic_b{ float:left; display:block; width:100px; height:13px; margin:-70px 0 0 235px; font-size:17px; padding:6px 15px 12px 15px; background:url(../images/sub/Bbtn_back.gif)bottom repeat-x; border:1px solid #CCC; font-weight:600; text-align:center; color:#FFF;}
a.btn_basic_b:hover{color:#FFE73C }
